--
-- PostgreSQL database dump
--

\restrict z6PYqLuYr8VfqEKo03Zcb3xXSgVYqOaRXvECgfuNwFRqL0KzciHr0ehcDYaXbU1

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: CreatorProfile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CreatorProfile" (
    id text NOT NULL,
    "pageName" text NOT NULL,
    "pageUrl" text NOT NULL,
    status text DEFAULT 'DRAFT'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public."CreatorProfile" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    "clerkId" text NOT NULL,
    email text NOT NULL,
    name text,
    "imageUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Data for Name: CreatorProfile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CreatorProfile" (id, "pageName", "pageUrl", status, "createdAt", "updatedAt", "userId") FROM stdin;
cmgq7it870001ph0u2yt6r9sh	king	king	DRAFT	2025-10-14 06:54:43.063	2025-10-14 06:54:43.063	cmgghy28z0005oe0u1b2o9rsm
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, "clerkId", email, name, "imageUrl", "createdAt", "updatedAt") FROM stdin;
cmgghy28z0005oe0u1b2o9rsm	user_33jkAjDxlI5Rmig5hGnXDOuycRK	bhussnain966@gmail.com	hussnain butt	https://img.clerk.com/eyJ0eXBlIjoicHJveHkiLCJzcmMiOiJodHRwczovL2ltYWdlcy5jbGVyay5kZXYvb2F1dGhfZ29vZ2xlL2ltZ18zM2prQWZxV1BmdktsWFhWcUpXcVllcHZlYW0ifQ	2025-10-07 11:48:48.973	2025-10-07 11:48:48.972
\.


--
-- Name: CreatorProfile CreatorProfile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CreatorProfile"
    ADD CONSTRAINT "CreatorProfile_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: CreatorProfile_pageName_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CreatorProfile_pageName_key" ON public."CreatorProfile" USING btree ("pageName");


--
-- Name: CreatorProfile_pageUrl_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CreatorProfile_pageUrl_key" ON public."CreatorProfile" USING btree ("pageUrl");


--
-- Name: CreatorProfile_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CreatorProfile_userId_key" ON public."CreatorProfile" USING btree ("userId");


--
-- Name: User_clerkId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_clerkId_idx" ON public."User" USING btree ("clerkId");


--
-- Name: User_clerkId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_clerkId_key" ON public."User" USING btree ("clerkId");


--
-- Name: User_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_email_idx" ON public."User" USING btree (email);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: CreatorProfile CreatorProfile_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CreatorProfile"
    ADD CONSTRAINT "CreatorProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict z6PYqLuYr8VfqEKo03Zcb3xXSgVYqOaRXvECgfuNwFRqL0KzciHr0ehcDYaXbU1

